{% extends "_layouts/cp" %}
{% set title = "Guide" %}

{% set guideSlug = guideSlug ?? 'guide' %}

{% set entries = craft.entries.section('guide').all() %}

{% set guide = craft.entries.section('guide').slug(guideSlug).one() %}
{% if not guide %}
    {% exit 404 %}
{% endif %}

{% block sidebar %}
    <nav>
        <ul>
            {% for entry in entries %}
                <li>
                    <a class="{{ entry.slug == guideSlug ? 'sel' }}" href="{{ cpUrl("guide/#{entry.slug}") }}"
                       style="{{ entry.level > 1 ?'padding-left:48px' }}">
                        <span class="label">{{ entry.title }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

{% endblock %}

{% block content %}

    {% include 'wsguide/content.twig' with {entry:guide} %}

    {% set entries  = guide.descendants.all %}

    {% for entry in entries %}
        <p>
            <a href="{{ cpUrl("guide/#{entry.slug}") }}">{{ entry.title }}</a><br/>
            {{ entry.teaser }}<br/>
            {{ entry.postDate|date }}
        </p>
    {% endfor %}

{% endblock %}
