{% from 'wsguide/macros.twig' import guideAsset %}



<h2>Hello {{ currentUser.firstName }}! </h2>

<p>Here is some help.</p>


<h1>TBD: This content is a stub.</h1>


<h3 data-guide-section>Live Preview</h3>
<p>To get an idea as to how a page is starting to look as you begin to enter content into it, you may use the Live Preview feature in Craft. Live Preview updates as you type, helping you make layout and design decisions as your content is being created. To exit Live Preview, use the "Close Live Preview" button in the top-left.</p>

<hr>

<h3 data-guide-section>Sections</h3>
<p>There are several sections in a service entry:</p>
<ol>
	<li>Service Data - You will not see these things on a service page, but they will be used on listings and links elsewhere.</li>
	<li>Entry Body - Short marketing oriented teaser/description of the service</li>
	<li>Service Body - A list of up to three service points, highlighting the main focus points of our customers.</li>
	<li>The Crew - The main people a customer might want to contact.</li>
	<li>Testimonials - Up to three testimonials with service specific quotes.</li>
</ol>

<hr>
<h2 data-guide-section>Service Data</h2>
<p>Please consult the web design guide for details, esp. sizes and appearance of the images!</p>
<div class="guide_grid guide_grid--2_column">
        <div>
            <h3 data-guide-section>Service Icon</h3>
            <p>This icon (svg-format) will be used on work entries pages for the "services performed" section</p>
            <h3 data-guide-section>Service Image</h3>
            <p>This image will be used for the service gallery on the "How it's made" page</p>
            <h3 data-guide-section>Short Description</h3>
            <p>This text will be user for the service gallery. Keep it short. Consider using a headline with the same text somewhere in the body.</p>
        </div>
        {{ guideAsset('servicedata.jpg') }}
    </div>

<hr>

{%  include 'wsguide/content/articlebody.twig' %}


<hr>

<h2 data-guide-section>Service Points</h2>
<p>Please consult the web design guide for details, esp. sizes and appearance of the images!</p>
<div class="guide_grid guide_grid--2_column">
	{{ guideAsset('servicedata.jpg') }}
        <div>

            <p>Nunc nec neque. Maecenas vestibulum mollis diam. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Ut non enim eleifend felis pretium feugiat. Fusce egestas elit eget lorem.</p>
          </div>


  </div>
<hr>

<h2 data-guide-section>Service Crew</h2>
<div class="guide_grid guide_grid--2_column">
	{{ guideAsset('servicecrew.jpg') }}
        <div>

            <p>Up to three people, our customer might want to contact. Place the "Service Manager" first.</p>
            <ol>
            	<li>Click [+ Member] to add a new member (role)</li>
            	<li>Enter the role name in active form, eg. "Service Manager" instead of "Service Management"</li>
            	<li>Click [ Add a person ] to open a popup from which you can select the person you want </li>
            	<li>If the person is not in the list, you can add a new one by clicking [+ Add a new peoples entry],
            		filling out the form and clicking [ Save ]</li>
            	<li>Remove a person by clicking the little [x] next to it.</li>
            	<li>Make sure (use live preview) that the persons e-mail is specified. If not, you can add it by
            		double clicking the person, enter the e-mail and save</li>
            </ol>


        </div>


    </div>
<hr>

<h2 data-guide-section>Service Testimonials</h2>
<div class="guide_grid guide_grid--2_column">
	 {{ guideAsset('servicetestimonials.jpg') }}
        <div>

            <p>Nunc nec neque. Maecenas vestibulum mollis diam. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem. Ut non enim eleifend felis pretium feugiat. Fusce egestas elit eget lorem.</p>
            </div>


    </div>
<hr>
